---
import Hero from "./Hero.astro";
import Button from "./Button.astro";
import Link from "./Link.astro";

const buttonText = "Download";
const buttonVersion = "v1.3";
const bgColor1 = "#4D96A9";
const bgColor2 = "#855FB1";
const linkText = "What is it?";
---

<main>
  <Hero />
  <h1>Group Chat for Everyone</h1>
  <p>
    Meet makes it easy to connect with others face-to-face virtually and
    collaborate across any device.
  </p>
  <Button text={buttonText} version={buttonVersion} bgColor={bgColor1} />
  <Link linkText={linkText} bgColor={bgColor2}>
</main>

<style>
  h1 {
    max-width: 267px;
    color: #28283d;
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 1.3rem;
  }
  p {
    color: #87879d;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    padding-inline: 0.8rem;
    margin-bottom: 1.6rem;
  }
</style>
